.nav {
  height: 60px;
  padding: 10px;
  background: #355ec1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  direction: rtl;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

.profileIcon {
  min-width: 75% !important;
  max-width: 100% !important;
  min-height: 44% !important;
  max-height: 100% !important;
}
